*{
  box-sizing:border-box;
  margin:0;
  padding:0;

}

.dark_section{
background-color: #000000;
}
.yellow_bg{
  background-color: #f7f7f1;
  }
  .font_black{
  font-family: Libre Baskerville;
  font-size: 80px;
  font-weight: 400;
  line-height: 110px;
  letter-spacing: 0px;
  text-align: left;
  }
  .red_btn{
    background-color:#a6102b;
    color:#f1f1f1;
    width: 250px;
    padding:5px;
    height:40px;
    float:right;
        };
        .red{

        }
  
  .red_btn:hover{
  background-color: #8e061e;
  }
  .contribute_btn{
    float:none !important;
  }
  .contribute_btn:hover{
background-color: transparent !important;
color: #a6102b !important;
border: 1px solid #a6102b;
  }
  .red_btn a{
            padding:15px;
            font-weight:600;
            
          font-size: 12px;
      
          }

         

/* login reg start */


.reg_form{
  width:50%;
  

}
.reg_body{
  background-color: #f6f6f6;

}

.fill_in{
font-family: Libre Baskerville;
font-size: 35px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0.3%;
text-align: center;
margin-top:50px;

}

.form_img{
  width: 50%;
height: 955px;
top: 89px;
left: 754px;
}

.these_detail_para{
  color: #b3b3b3;
  font-size: 14px;
    font-weight: 600;
    font-family: Roboto;
    text-align:center;
}
.reg_label{
  /* font-family: Roboto; */
  

  color:#0A0A0A;
  
margin-bottom:10px;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0em;
text-align: left;

}
.reg_form_input{
background-color: transparent;
border-color: #dddddd;
}
.field-icon {
  float: right;
    /* margin-left: -45px; */
    margin-top: -27px;
    position: relative;
    z-index: 2;
    padding-right: 10px;
}

.frm_reg{
  margin-top:50px;

}

.reg_field{
  margin-bottom: 20px;
}

.i_accept{
  color: #9c9c9c;
  font-weight:500;

}

.terms_green{
  color:#2a9553;
  font-weight:500;

}


.i_accept_chq{
 height: 15px; 
    width: 15px;
    margin:10px;
  }

  .register_btn{
    width: 173px;
height: 58px;
background: #A6102B;
font-family: Open Sans;
font-size: 20px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #FCFCFC;
float:right;
text-align: center;
border: none;

  }

  .register_btn:hover{
    
    background-color: #8e061e;
  }

  .already_have_log{
color:#272727;
font-weight: bold;
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
  }

  .already_have{
color: #7e7e7e;
margin-top:70px;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
  }

  .forgot_pwd{
color:#a6102b;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0em;
text-align: left;

  }

  .fill_in_det{
    color: #7f7f7f;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    /* text-align: left; */
    
  }

  .form_padding{
    padding:20px;

  }

  .form_padding_login{
    padding:60px;
  }

  .btn_submit{
    margin-top: 40px;
    margin-bottom: 129px;
  }

  .login_img{
    width: 100%;
    /* height: 100vh; */
  }

  .reg_img{
    width:100%;
    height: 880px;

  }

  @media only screen and (max-width: 575px) {
    .responsive_input{
      width:100%;
    }
    .reg_img_col{
      display:block;
    }

    .reg_img{
     
      height: 600px;
  
    }
    .right-cover{
      display:none;
    }
    .knowledge_col {
      margin-left: auto !important;
      
    }
    .read_other_articles_heading_knowledge{
      margin-left: auto !important;
      margin-right: auto !important;
      /* font-size: 126px !important;; */
      font-size: 85px !important;

    }
    .article3_student_img_col{
      /* display:none; */
    }
    .article3_student_text {
      position: relative !important;
      transform: translate(0, 0)!important;
    }
    .article3_student_img{
width:100%;
    }

    .save_article_heading{
      
      word-wrap: break-word;
      margin-top:5px !important;
      font-size: 5vw!important;
    line-height: 40px !important;
    }

    .gallery_images .col-1-of-5 {
      /* position: relative !important; */
    }
    /* .gallery_img {
      width: 100%;
  } */

  .rec_icons{
    /* opacity:0 !important; */

  }

  .gallery_images .col-1-of-5.img-2{
    left:2rem !important;
  }
  .gallery_images .col-1-of-5.img-3{
    left:3rem !important;
  }
  .gallery_images .col-1-of-5.img-4{
    left:4rem !important;
  }
  .gallery_images .col-1-of-5.img-5{
    left:5rem !important;
  }

  .value_to_2{
margin: 0 !important;
  }

  .value_to_our_im{
    margin: 0 !important;
  }

  .case_studies{
    position: relative !important;;
    /* font-family: Roboto; */



margin-left: 0!important;
  margin-top: 0!important;
  }
  .value_to_our{
    margin: 0 !important;
  }
  }

  /* end of login reg */

  /* all about RRET button */

  .allabt_btn{
    width:350px;
    height:50px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #FCFCFC;
    background: #A6102B;
    padding:15px;
    margin: 0;
  position: absolute;
  top:50%;
  left:50%;
  -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .icon_right{
    float: right;
    /* width: 35.1px; */
    /* height: 32px; */
    top: 12px;
    left: 290px;
    margin-top:-6px;
    font-size:20px !important ;
    font-weight: bold !important;

  }

  .icon_right_contribute{
    font-size:20px !important ;
    font-weight: bold !important;
    float:right;
    margin: -4px 12px 3px;
  }
 .container_btn { 
    height: 200px;
    position: relative;
    
  }
  
  .allabt_btn:hover{
    border:1px solid #a6102b;
    color:#a6102b;
    background-color: #f5f5f5;
  }

  

  /* end of all about RRET button */

  /* home page start */
 

  .save_article_section{
  background-image: 
  url("/images/save_article_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center
}

.bookmark{
  color: #f5f9fa;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.6px;
  -webkit-text-stroke-color: black;
  margin-right: 10px;
  }

.save_article_btn{
  
  width: 200px;
height: 35px;
background-color: #f5f9fa;
padding: 12px, 24px, 12px, 20px;
border: 1px;
gap: 10px;
font-size: 15px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
float:right; 
border:1.5px solid #272727;
}

.save_article_heading{
  
/* width: 700px;  */
height: 192px;
font-family: Libre Baskerville;
font-size: 38px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0px;
text-align: left;
padding:4px;

}

.academic_research_p{
  margin-top:40px;
  /* font-family: Roboto; */
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
  
}

.save_article_heading_padding{
padding:40px;
}
.academic_research_para{
  
  font-family: Libre Baskerville;
    font-size: 10px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
color:#fcfcfc;
}

.academic_research_para_bg{
background-color: #a6102b;
width:200px;
height: Hug (20px);
top: 454px;
left: 120px;
gap: 8px;

}

.save_article_college_img{
  width:100%;
  height:298px;
}

.container_article_dark{
   /* position: relative;  */
   margin-left:10%;
   margin-right:10%;
  
}
.article_dark_heading{
  padding: 20px;
font-size: 20px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0px;
text-align: left;
color:#fcfcfc;
top: 50%;
  left: 50%;
  
/* position: absolute; */
/* margin: 0;
  
   */
}

.article_dark_para{
  padding: 20px;
  /* margin: 0;
  position: absolute; 
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
font-size: 15px;
font-weight: 300;
line-height: 34px;
letter-spacing: 0px;
text-align: left;
color:#fcfcfc;
}

.article_dark{
background-color:#000000 ;
}


.article_white_heading{
  padding: 20px;
font-size: 20px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0px;
text-align: left;
color:#272727;
top: 50%;
  left: 50%;
  
/* position: absolute; */
/* margin: 0;
  
   */
}

.article_white_para{
  padding: 20px;
  /* margin: 0;
  position: absolute; 
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
 
font-size: 15px;
font-weight: 400;
line-height: 34px;
letter-spacing: 0px;
text-align: left;
color:#272727;
}

.article_white_college_img{
  

}
.more_articles_heading{
  font-family: Libre Baskerville;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  
}
  /* end of article1 page  */


  /*start of article2 page*/

.article2_heading{
font-family: Libre Baskerville;
font-size: 40px;
font-weight: 400;
/* line-height: 95px; */
letter-spacing: 0px;
text-align: left;
}
.article2_white_text{
  color:#f7f7f1;
  background-color:#A6102B;
  padding:5px;
  /* line-height: 95px; */

}
.article2_section{

  background-image: 
  url("/images/article2_slider.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
   background-position: center; 
  background-position: 0 140px !important;
  height:700px;
}
.article2_white_section{

}
.center {
  margin: auto;
  width: 100%;
  text-align:justify;
  padding:40px;
   
}
.text_yellow{
  margin: auto;
  width: 60%;
  padding:20px;
  font-family: Libre Baskerville;
font-size: 20px;
font-weight: 400;
letter-spacing: 0px;
text-align: left;

}
.border-red{
  padding:15px;
  border-left:5px solid #a6102b;
}
.article2_yellow_section{
background-color: #f7f7f1;
}

.read_other_articles{
background-color: #000000;
}

.read_other_articles_heading{
color:#ffffff;
  font-family: Libre Baskerville;
font-size: 46px;
font-weight: 300;
text-align: left;
margin-top:30px;


}
.read_other_articles_heading_knowledge{
 margin-left:-39px;
 margin-top:16px;
font-size: 136px;
font-weight: 350;
/* line-height: 165px; */
letter-spacing: -7px;
text-align: left;

/* height: 165px; */
top: 4263px;
left: 634px;
opacity: 0.1px;



/* font-family: 'Roboto', sans-serif; */
}

.effect_heading{
  font-family: Libre Baskerville;
  font-size: 32px;
  font-weight: 400;
  color:#fcfcfc;
  text-align: left;
  margin-top:-8px;

  }
  .effect_p{
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 400;
    text-align: justify;
    color:#9c9c9c;
  }

  .effect{
padding:20px;
  }

  .read_other_col{
    /* padding: 20px; */
   
    z-index: 1;
  }

  .knowledge_col{
    margin-left: -55px;
    /* z-index: 3; */
  }


  .left_right_icon{
    width:18%;
float: right;
position:relative;
margin-top: 345px;
    /* margin-left: 769px;  */ 
  }

  .article_slider_img{
    margin-top:30px;
    height:315px;
    width:718px;
/* margin-top:65px; */
  }

  .article_row{
     margin-bottom:
84px; 
    
  }
  
  /*end of  article2 page*/

   /*start of  article3 page*/

   .article3_heading_section{
    
   }

   .article3_slider_section{
    background-image: 
    url("/images/article3_slider_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
     background-position: center; 
    height:700px;
    
   }
   .article3_heading{
    font-family: Libre Baskerville;
    font-size: 42px;
    font-weight: 400;
    /* line-height: 95px; */
    letter-spacing: 0px;
    text-align: center;
    z-index: 1;
   }
   .article3_student_text{
    font-family: sans-serif;
font-size: 68px;
font-weight: 400;
text-align: left;
position:absolute;
/* top: 50%;
  left: 50%; */
  transform: translate(-56%, -134%); 
  line-height:80px;

   }
   .article3_student_text_col{
    z-index: 1;
    /* position:absolute; */
   }

   .article3_student_img_col{
    /* position:relative;
    margin-left:328px; */
   }

   .caption p{
font-size:15px;
   }
    /*end of  article3 page*/

    /*cv_slider start*/
    .cv_slider{
    background-image: 
    url("/images/cv_slider.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
     background-position: center; 
     height:400px;
     /* background-color: #000000; */
    }
    .cv_slider_heading{
      
      width:500px;
      margin:auto;
      padding-top: 40px;
      
     }

     .cv_slider_heading h1{
      
      font-family: Libre Baskerville;
      font-size: 60px;
      font-weight: 400;
      text-align: center;
      color:#fcfcfc;
     }

     .cv_slider_para{
      width:600px;
      margin:auto;
      font-size: 17px;
      font-weight: 400;
      text-align: center;
      color:#fcfcfc;
      }
      .cv_para{
text-align: justify;
font-size: 21px;
      }

      .cv_para_section{

      }
      .cv_starting_pointer_heading{
        font-family: Libre Baskerville;
        font-size: 34px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0px;
        text-align: justified;
        
      }
      .cv_starting_pointer_p{
        text-align: justify;
        font-weight:500;
      }
    /*cv_slider end*/

    /*internship form*/

    .internship-form-img{
      width: 560px;
      background-image: 
      url("/images/internship_applybox_img.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      /* background-attachment: fixed; */
       background-position: center; 

    }

    .internship_form_p{
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.4000000059604645px;
text-align: center;
color:#ffffff;
   }

    .internship_form_heading{
      font-family: Libre Baskerville;
      font-size: 36px;
      font-weight: 400;
      /* line-height: 45px;
      letter-spacing: 0.25px; */
      text-align: center;
      color:#fcfcfc;
      
    }

    .modal_btns{
float:right;
    }

    .cover_letter_heading{
text-align: center;
font-family: Libre Baskerville;
font-size: 24px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.25px;
color:#d2d2d2;
    }

    [contenteditable] {
      outline: 0px solid transparent;
      color:#272727;
      padding:20px;
    }
    .contenteditable_row{
height:600px;
    }
    .contenteditable{
      font-size: 16px;
      font-weight: 300;
      line-height: 28px;
      letter-spacing: 2px;
      text-align: left;
      color:#0A0A0A;
      overflow: auto;
      }
      .skip_letter{
        font-size: 13px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        padding:10px;  
        
        color:#272727;
        text-decoration: none;      
      }
      .skip_div{
        padding-bottom: 20px;
      }
      .skip_letter_right{
      background-color:#a6102b;
      color:#FCFCFC;
      }
      .skip_div{

      }

      .center_int_text{
padding:40px 10px 40px;
margin-top: 150px;
    margin-bottom: 150px;
      }
      .cover_row{
padding: 40px;
      }
      .bookmark_plain{
height:15px;
      }
      .cover_close_btn{
        
        margin-left:10px;
        
      }

      .skip_letter:hover{
        
        /* color:#f6f6f6; */
      }   

      .new_article_top_h1{
        font-family: Libre Baskerville;
        font-size: 70px;
        font-weight: 400;
        line-height: 149px;
        letter-spacing: 0px;
        text-align: left;
        
      }
    /*internship form*/

    /*new articles start*/
    .new_article_top{
padding:10px;
    }
    .new_article_top_p{
      font-family: Libre Baskerville;
      font-size: 19px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
      margin-top: 39px;
     }

     .gallery_images{
      position: relative;
      /* z-index: -1; */
      margin: 0 auto;
      /* filter: grayscale(100%); */
     }

     .gallery_images .col-1-of-5 {
     
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
       width: 400px;
      /*height: 32rem;
      background-size: cover;
      background-repeat: no-repeat;*/
      position: absolute;
      -webkit-filter: grayscale(100%);
      
      /*transition: all 0.2s;
      top: 2rem; */
    }
    .gallery_images .col-1-of-5.img-1 {
      
       /* left: 27rem; */
      z-index: 5; 
    }
    .rec_icons{
      
      
    /* margin-top: 23px; */
    position: absolute;
    z-index: 24;
    /* width:100%; */
  }
  .fade-in{
    animation: 3s slide-left;
  } 
   @keyframes slide-left {
    from {
      margin-left: 50%;
    }
    to {
      margin-left: 0%;
    }
  }

  

   /* .fade-in {
    animation: fadeIn ease 2s;
  }
  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }   */
    .first_img{
      position: absolute;
      z-index:-2;
    }
    .gallery_images .col-1-of-5.img-2 {
      
       left: 4rem; 
       z-index: 4; 
      
    }
    .gallery_images .col-1-of-5.img-3 {
      
      left: 7rem; 
      z-index: 3; 
     
   }
   .gallery_images .col-1-of-5.img-4 {
      
    left: 10rem; 
    z-index: 2; 
   
 }
 .gallery_images .col-1-of-5.img-5 {
      
  left: 13rem;  
  z-index: 1; 
 
}

.image-2{
height:;
}

.image-3{
  height:
  }
  .image-4{
    height:
    }
    .image-5{
      height:
      }
     .gallery_images:not(:last-child)
     {
      /* margin-bottom: 32rem; */
     }
     .gallery_img{
      width:550px;
      height:370px;
     }
     .gallery_images .col-1-of-5:hover {
     
      /* box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); */
      
      -webkit-transform: scale(1.1);
      transform: scale(1.0,1.0);
      -ms-transform: scale(1.0,1.0); /* IE 9 */
      -webkit-transform: scale(1.1,1.1); 
      /* transform: scale(1.1,1.1) translateY(20px) translateX(10px); */
      /* transform: scale(1.0,1.0) translateX(-2rem); */
      z-index: 20;
      position:absolute;
      filter: none;
     
    }

    /* .rec_icons{
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    
    } */
    .gallery_images .col-1-of-5:hover .rec_icons{
      /* cursor: pointer; */
  
       /* left: 50%;  */
      /* bottom: 15%; */
      
      /* position: absolute; */
      /* -webkit-animation: linear;*/
      animation: reveal 1s forwards;
      /* -webkit-animation-name: run;
      -webkit-animation-duration: 0.9s;  */
    opacity: 1; 
      
    }

    .rec_icons{
opacity:0;
    }
    

    @keyframes reveal {
      from {
        clip-path: inset(0 0 0 100%);
      }
      to {
        clip-path: inset(0 0 0 0);
      }
    }

    .research{
      opacity: 0;
    }
    .persuing{
      opacity: 0;
    }

    .research_opp{
      opacity: 0;
    }

    .sneak{
      opacity: 0;
    }
    .getting{
opacity: 0;
    }
    
    .gallery_images .col-1-of-5:not(:hover) {
      /* transform: scale(0.95); */
    }

    .first-image{
      /* position:absolute;
      z-index:-1; */
    }
    .value_to{
      font-family: Libre Baskerville;
      font-size: 30px;
      font-weight: 400;
      line-height: 60px;
      letter-spacing: 0px;
      text-align: left;
      
    }
    .case_studies{
      position:absolute;
      /* font-family: Roboto; */
font-size: 110px;
font-weight: 300;

text-align: left;
z-index: -1;
color:#f7f7f1;
margin-left: 276px;
    margin-top: -123px;
    }

    .value_to_our_im{
      padding:40px;
    }

    .the_process_heading{
    

font-family: Libre Baskerville;
font-size: 56px;
font-weight: 400;
line-height: 100px;
letter-spacing: 0em;
text-align: left;
    }

    

    

    .like_writing{
text-align: left;
font-size:18px;
padding:5px;
    }
    .contribute_arrow{
    float: right;
    width: 30px;
    padding: 2px;
  }
    /*end of new articles*/



    /*modal*/

    .modal_body{
background-color: #ffffff;
    }

    .modal_con{
      overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    }
    .modal-content{
      width:100%;
      height:238px;
      border-radius: 4px;
    }
    .fade.in {
      opacity: 0.9;
      background-color: #2c2c2c;
  }
button.close{
  margin-top: -30px;
    margin-right: -25px;
    float: right;
}
    .modal-title{
      font-family: Libre Baskerville;
font-size: 24px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.25px;
text-align: center;
padding:10px;
color:#000000;
    }

    .modal_p{
      /* font-family: Roboto; */
font-size: 16px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0.25px;
text-align: center;
padding:10px;
color:#545454;
}

#main {
  width: 100%;
  
  display: flex;
  justify-content: center;
}

#main div {
  width: 70px;
  height: 70px;
}

.cancel_btn_modal{
  /* font-family: Roboto; */
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;
  color:#7e7e7e;
  text-decoration: none;
  padding:15px;
  width:150px;
  
}
.cancel_btn_modal:hover{
color:#fcfcfc;
background-color: #a6102b;
text-decoration: none;
}

.submit_btn_modal{
  /* font-family: Roboto; */
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;
  color:#7e7e7e;
  text-decoration: none;
  padding:15px;
  background-color: #a6102b;
  width:150px;
  color:#ffffff;
}

.submit_btn_modal:hover{
  color:#fcfcfc;
  background-color: #a6102b;
  text-decoration: none;
}
    /*end modal*/


    /*rcat start*/

    .understanding_rcat_p{
      font-family: Poppins;
      font-size: 15px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 0px;
      text-align: justified;
      
    }

    .dark_row{
      padding: 70px 10px 
    }
.step1_h2{
  /* font-family: Roboto; */
  color:#dad2bc;
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 1.5px;
          padding-bottom:70px;
          }

          .step1_p{
            /* font-family: Roboto; */
            border-top: 4px solid#A6102B;
            color:#dad2bc;
font-size: 15px;
font-weight: 90;
line-height: 27px;
letter-spacing: 0px;
text-align: left;
                }

  
    /* end of rsat*/
    .apear_for_rsat{
      background-image: 
      url("/images/appear_rsat.jpg");
      /* background-size: cover; */
      background-repeat: no-repeat;
      /* background-attachment: fixed; */
      background-position: center
    }

    .apear_for_rsat_text{
      /* font-family: Roboto; */
      font-size: 123px;
      font-weight: 300;
      line-height: 145px;
      letter-spacing: -11px;
      text-align: left;
      color:#a6102b;
      }

      .step3_h1{
        /* font-family: Roboto;
        font-size: 32px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0px;
        text-align: left; */
        
        
        font-size: 32px;
        font-weight: 300;
        line-height: 36px;
        letter-spacing: 0px;
        text-align: left;
        color:#dad2bc;
        }
        .step2_h2{
          color:#dad2bc;
          font-size: 15px;
          font-weight: 700;
          letter-spacing: 1.5px;
          padding-bottom:10px;
        }
        .step2_p{
color:#dad2bc;
text-align:justify; 
border-top: 4px solid#A6102B;
padding-top:80px;
font-size: 15px;
font-weight: 90;
line-height: 36px;
letter-spacing: 0px;
text-align: left;

        }

        .step3_p{
          font-size: 14px;
          font-weight: 600;
          line-height: 26px;
          letter-spacing: 0px;
          text-align: left;
          color:#dad2bc;
          margin-top: 30px 
        }
        .step3_h2{
          font-size: 15px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 1.5px;
          text-align: left;
          color: #a6102b;
        }

        /* start of professor_land_section*/
       
        .showcase{
          position:absolute;
          right:0;
          width:100%;
          min-height:100vh;
          padding:100px;
          justify-content: space-between;
          align-self: center;
          /* background-color: #f1f1f1; */
          
          z-index: 2;
        }

        .showcase video{
          position: absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
          object-fit: cover;
          opacity:0.8;
        }
.overlay{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  /* background: rgba(0,0,0,0.5); */
  /* mix-blend-mode: overlay; */
}
.text{
  position:relative;
  margin-top:200px;
  z-index:10;
  /* background: rgb(255,255,255,0.2); */
  padding:10px;
          }
 .text h2{
  font-size:2em;
  font-weight:800;
  line-height:1em;
  text-transform: uppercase;
  font-family: libre baskerville;
  line-height: 50px;;
  color:#ffffff;
text-align: center;
}

.play-button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  pointer-events: none;
}
.play-button-wrapper #circle-play-b {
  cursor: pointer;
  pointer-events: auto;
}
.play-button-wrapper #circle-play-b svg {
  width: 50px;
  height: 100px;
  fill: rgb(204,204,204,0.7);
  stroke: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  opacity: 0.9;
}
         /* end of professor_land_section*/

         /*the articles mobile*/
         
         /*
/*extra*/

.carousel-item{
  /* float: none !important; */
}

/*extra end*/

/*otp start*/

.otp_content{
height:auto !important;
}
.inputs{
  padding: 39px !important;

}
.input { 
  width: 50px; 
  height:50px;
  border:1px solid #d9d9d9;
  border-radius: 6%; 
  /* border: 3px solid rgba(0, 0, 0, 0.5);  */
  margin: 0 10px; 
  text-align: center; 
  font-size: 16px; 
  cursor: not-allowed; 
  pointer-events: none; 
  background-color: #d9d9d9;
} 

.enter_otp{
font-size: 20px !important;
}

.input:focus { 
  border-bottom: 3px solid orange; 
  outline: none; 
} 

.input:nth-child(1) { 
  cursor: pointer; 
  pointer-events: all; 
}

.otp_email{
  /* display: flex;  */
    justify-content: center; 
    /* align-items: center;  */
    /* min-height: 5vh;  */
    padding: 20px !important;
}

.otp_mobile{
  padding: 20px !important;

}

.clo{
margin-top:-14px !important;
margin-right: -8px !important;
}
/*otp end*/